.tpl-component-cover-page-cc .black { background: #F5F5DC }
.tpl-component-cover-page-cc .green { background: #F5F5DC }
.tpl-component-cover-page-cc .violet { background: #7F00FF }
.tpl-component-cover-page-cc .choco { background: #7B3F00 }
.tpl-component-cover-page-cc .light-grey { background: #D3D3D3 }
.tpl-component-cover-page-cc .dark-grey { background: #D3D3D3 }
.tpl-component-cover-page-cc .caramel { background: #af6f09 }
.tpl-component-cover-page-cc .orange { background: #af6f09 }
.tpl-component-cover-page-cc .red { background: #af6f09 }
.tpl-component-cover-page-cc .blue { background: #af6f09 }
.tpl-component-cover-page-cc .black.column { background-image: url("/style/images/cel-black-column.png") !important; }
.tpl-component-cover-page-cc .green.column { background-image: url("/style/images/cel-green-column.png") !important; }
.tpl-component-cover-page-cc .violet.column { background-image: url("/style/images/cel-violet-column.png") !important; }
.tpl-component-cover-page-cc .choco.column { background-image: url("/style/images/cel-choco-column.png") !important; }
.tpl-component-cover-page-cc .light-grey.column { background-image: url("/style/images/cel-light-grey-column.png") !important; }
.tpl-component-cover-page-cc .dark-grey.column { background-image: url("/style/images/cel-dark-grey-column.png") !important; }
.tpl-component-cover-page-cc .caramel.column { background-image: url("/style/images/cel-caramel-column.png") !important; }
.tpl-component-cover-page-cc .orange.column { background-image: url("/style/images/cel-orange-column.png") !important; }
.tpl-component-cover-page-cc .red.column { background-image: url("/style/images/cel-red-column.png") !important; }
.tpl-component-cover-page-cc .blue.column { background-image: url("/style/images/cel-blue-column.png") !important; }
.tpl-component-cover-page-cc .black.row { background-image: url("/style/images/cel-black-row.png") !important; }
.tpl-component-cover-page-cc .green.row { background-image: url("/style/images/cel-green-row.png") !important; }
.tpl-component-cover-page-cc .violet.row { background-image: url("/style/images/cel-violet-row.png") !important; }
.tpl-component-cover-page-cc .choco.row { background-image: url("/style/images/cel-choco-row.png") !important; }
.tpl-component-cover-page-cc .light-grey.row { background-image: url("/style/images/cel-light-grey-row.png") !important; }
.tpl-component-cover-page-cc .dark-grey.row { background-image: url("/style/images/cel-dark-grey-row.png") !important; }
.tpl-component-cover-page-cc .caramel.row { background-image: url("/style/images/cel-caramel-row.png") !important; }
.tpl-component-cover-page-cc .orange.row { background-image: url("/style/images/cel-orange-row.png") !important; }
.tpl-component-cover-page-cc .red.row { background-image: url("/style/images/cel-red-row.png") !important; }
.tpl-component-cover-page-cc .blue.row { background-image: url("/style/images/cel-blue-row.png") !important; }
