.idea/
3d/
admin_static/
all/
AmoCrm/
cgi-bin/
export/
imgforum/
import/
js/
netcat/vendor/
netcat_cache/
netcat_files/
netcat_trash/
netcat_dump/
PHPExcel/
style/
!style/css/
!style/js/
vendor/
.htaccess
vars.inc.php
composer*
yandex*
video.mp4
ahrefs*
people.txt
podnozhka.png
merged.jpg